// _variables.scss
// =================
@import "http://fonts.googleapis.com/css?family=Comfortaa|Inika|Oxyge|Montserrat|Ubuntu|Signika:600|Lato:300|Maven Pro";

$darkNavy      : #0f455d;
$gray20        : #333333;
$green         : #507356;
$lightBlue     : #97D5D9;
$whitecloud    : #fefefe;
$desatBlue     : #464B65;
$skin          : #B08B7B;


$headFont : 'Maven Pro', sans-serif;
//$headFont : 'Comfortaa', sans-serif;
//$headFont : 'Signika', sans-serif;
//$headFont : 'Ubuntu', sans-serif;
//$headFont : 'Montserrat', sans-serif;
//$headFont : 'Oxygen', sans-serif;
$bodyFont : 'Inika', serif;

//$pageBgImg : "../images/sailing.jpg";
//$pageBgImg : "../images/tanker.jpg";
//$pageBgImg : "../images/tanker2.jpg";
//$pageBgImg : "../images/150004372.jpg";
//$pageBgImg : "../images/543197191.jpg";
//$pageBgImg : "../images/522682952.jpg";
$pageBgImg : "../images/172719578.jpg";
